<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Loan Visualization</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="application/javascript" src="/Scripts/qbo4.Bridge.js" defer></script>
    <script type="application/javascript" src="/Scripts/qbo4.Visualization.js" defer></script>
    <script type="application/javascript">
        /*
        call gvis.ashx/dashboard?reportID=X
        - each ReportQuery is a chart, renders the dashboard chart JSON for it
        - url = Report.ResultURL
        */
        document.addEventListener("qbo4.visualization.ready", function () {
            const db = new qbo4.visualization.dashboard({
                url: 'loans.json',
                charts: [{
                    'chartType': 'PieChart',
                    'containerId': 'servicer_chart',
                    'dimension': 'Servicer',
                    'options': {
                        'height': 500,
                        'pieHole': 0.2,
                        'pieSliceText': 'value',
                        'legend': 'left'
                    }
                }, {
                    'chartType': 'PieChart',
                    'containerId': 'state_chart',
                    'dimension': 'State',
                    'filters': ['Servicer'],
                    'options': {
                        'pieSliceText': 'value',
                        'legend': 'right'
                    }
                }, {
                    'chartType': 'PieChart',
                    'containerId': 'status_chart',
                    'dimension': 'City',
                    'filters': ['Servicer', 'State'],
                    'options': {
                        'pieSliceText': 'value',
                        'legend': 'right'
                    }
                }, {
                    'chartType': 'Table',
                    'filters': ['State', 'Servicer', 'City'],
                    'options': {
                        'title': 'qbo4 Demo',
                        'legend': 'none',
                        'page': 'enable',
                        'pageSize': 8,
                        'allowHtml': true
                    },
                    'view': {
                        columns: [
                            {
                                label: 'Loan', type: 'string', calc: (table, row) => {
                                    const data = qbo4.visualization.getRow(table, row);
                                    return `<a target="_blank" href="/api/loan/${data.LoanID}">${data.Loan}</a>`;
                                }
                            },
                            'UPBAmount',
                            'Status',
                            {
                                label: 'Servicer', type: 'string', calc: (table, row) => {
                                    const data = qbo4.visualization.getRow(table, row);
                                    return `<a target="_blank" href="/api/organization/${data.ServicerID}">${data.Servicer}</a>`;
                                }
                            },
                            {
                                label: 'Address', type: 'string', calc: (table, row) => {
                                    const data = qbo4.visualization.getRow(table, row);
                                    return `<a target="_blank" href="/api/property/${data.PropertyID}">${data.Address}<br/>${data.City}, ${data.State} ${data.PostalCode}</a>`;
                                }
                            }]
                    },
                    'containerId': 'table_div'
                }]
            });
            db.draw();
            window.db = db;
        });
    </script>
</head>
<body>
    <div>
        <div id="dashboard_div" class="container">
            <div class="row">
                <h3>Loan Charing Sample</h3>
            </div>
            <div class="row">
                <div id="servicer_chart" class="col">Servicer</div>
                <div id="state_chart" class="col">State</div>
                <div id="status_chart" class="col">Status</div>
            </div>
            <div class="row">
                <div id="table_div" class="col">Table</div>
            </div>
        </div>
    </div>
</body>
</html>
