<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="qbo3.Build" value="https://quandis.pkgs.visualstudio.com/_packaging/qbo3.Build/nuget/v3/index.json" />
    <add key="qbo4-Build" value="https://quandis.pkgs.visualstudio.com/_packaging/qbo4-Build/nuget/v3/index.json" />
  </packageSources>
</configuration>